<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Plates</title>
</head>
<body>
<h1 class="contentheadline">Übersicht der Länderzuordnung von Diplomatenkennzeichen</h1>
<table border="0" cellpadding="2" cellspacing="0" width="50%" class="stats">
    <tr>
        <th>Ziffern</th>
        <th>Land</th>
    </tr>
    <tr>
        <td>10</td>
        <td>Vatikanstadt</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Ägypten</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Angola</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Albanien</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Äthiopien</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Afghanistan</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Algerien</td>
    </tr>
    <tr>
        <td>17</td>
        <td>USA</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Argentinien</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Australien</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Bangladesh</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Belgien</td>
    </tr>
    <tr>
        <td>22</td>
        <td>Brunei</td>
    </tr>
    <tr>
        <td>23</td>
        <td>Bulgarien</td>
    </tr>
    <tr>
        <td>24</td>
        <td>Myanmar</td>
    </tr>
    <tr>
        <td>25</td>
        <td>Bolivien</td>
    </tr>
    <tr>
        <td>26</td>
        <td>Brasilien</td>
    </tr>
    <tr>
        <td>27</td>
        <td>Burundi</td>
    </tr>
    <tr>
        <td>28</td>
        <td>Chile</td>
    </tr>
    <tr>
        <td>29</td>
        <td>China</td>
    </tr>
    <tr>
        <td>30</td>
        <td>Costa Rica</td>
    </tr>
    <tr>
        <td>31</td>
        <td>Weißrussland</td>
    </tr>
    <tr>
        <td>32</td>
        <td>Bosnien und Herzegowina</td>
    </tr>
    <tr>
        <td>33</td>
        <td>Äquatorialguinea</td>
    </tr>
    <tr>
        <td>34</td>
        <td>Dänemark</td>
    </tr>
    <tr>
        <td>35</td>
        <td>Benin</td>
    </tr>
    <tr>
        <td>36</td>
        <td>Domninikanische Republik</td>
    </tr>
    <tr>
        <td>37</td>
        <td>Ecuador</td>
    </tr>
    <tr>
        <td>38</td>
        <td>Elfenbeinküste</td>
    </tr>
    <tr>
        <td>39</td>
        <td>lvador</td>
    </tr>
    <tr>
        <td>41</td>
        <td>Estland</td>
    </tr>
    <tr>
        <td>42</td>
        <td>Liechtenstein</td>
    </tr>
    <tr>
        <td>44</td>
        <td>Finnland</td>
    </tr>
    <tr>
        <td>45</td>
        <td>Frankreich</td>
    </tr>
    <tr>
        <td>46</td>
        <td>Gabun</td>
    </tr>
    <tr>
        <td>47</td>
        <td>Ghana</td>
    </tr>
    <tr>
        <td>48</td>
        <td>Griechenland</td>
    </tr>
    <tr>
        <td>49</td>
        <td>Grossbritannien und Nordirland</td>
    </tr>
    <tr>
        <td>50</td>
        <td>Guatemala</td>
    </tr>
    <tr>
        <td>51</td>
        <td>Guinea</td>
    </tr>
    <tr>
        <td>52</td>
        <td>Lettland</td>
    </tr>
    <tr>
        <td>53</td>
        <td>Litauen</td>
    </tr>
    <tr>
        <td>54</td>
        <td>Haiti</td>
    </tr>
    <tr>
        <td>55</td>
        <td>Honduras</td>
    </tr>
    <tr>
        <td>56</td>
        <td>Indien</td>
    </tr>
    <tr>
        <td>57</td>
        <td>Indonesien</td>
    </tr>
    <tr>
        <td>58</td>
        <td>Irak</td>
    </tr>
    <tr>
        <td>59</td>
        <td>Iran</td>
    </tr>
    <tr>
        <td>60</td>
        <td>Irland</td>
    </tr>
    <tr>
        <td>61</td>
        <td>Island</td>
    </tr>
    <tr>
        <td>62</td>
        <td>Laos</td>
    </tr>
    <tr>
        <td>63</td>
        <td>Kap Verde</td>
    </tr>
    <tr>
        <td>64</td>
        <td>Israel</td>
    </tr>
    <tr>
        <td>65</td>
        <td>Italien</td>
    </tr>
    <tr>
        <td>66</td>
        <td>Jamaika</td>
    </tr>
    <tr>
        <td>67</td>
        <td>Japan</td>
    </tr>
    <tr>
        <td>68</td>
        <td>Jemen</td>
    </tr>
    <tr>
        <td>69</td>
        <td>Jordanien</td>
    </tr>
    <tr>
        <td>70</td>
        <td>Serbien und Montenegro</td>
    </tr>
    <tr>
        <td>71</td>
        <td>Kuwait</td>
    </tr>
    <tr>
        <td>72</td>
        <td>Kuba</td>
    </tr>
    <tr>
        <td>73</td>
        <td>Katar</td>
    </tr>
    <tr>
        <td>74</td>
        <td>Kamerun</td>
    </tr>
    <tr>
        <td>75</td>
        <td>Kanada</td>
    </tr>
    <tr>
        <td>76</td>
        <td>Kenia</td>
    </tr>
    <tr>
        <td>77</td>
        <td>Kolumbien</td>
    </tr>
    <tr>
        <td>78</td>
        <td>Republik Kongo</td>
    </tr>
    <tr>
        <td>79</td>
        <td>Süd-Korea</td>
    </tr>
    <tr>
        <td>80</td>
        <td>Libanon</td>
    </tr>
     <tr>
         <td>81</td>
         <td>iberia</td>
    </tr>
    <tr>
        <td>82</td>
        <td>Libyen</td>
    </tr>
    <tr>
        <td>83</td>
        <td>Lesotho</td>
    </tr>
    <tr>
        <td>84</td>
        <td>Luxemburg</td>
    </tr>
    <tr>
        <td>85</td>
        <td>Madagaskar</td>
    </tr>
    <tr>
        <td>86</td>
        <td>Malawi</td>
    </tr>
    <tr>
        <td>87</td>
        <td>Malaysia</td>
    </tr>
    <tr>
        <td>88</td>
        <td>Mali</td>
    </tr>
    <tr>
        <td>89</td>
        <td>Marokko</td>
    </tr>
    <tr>
        <td>90</td>
        <td>Mauretanien</td>
    </tr>
    <tr>
        <td>91</td>
        <td>Mexiko</td>
    </tr>
        <td>92</td>
        <td> Malta</td>
     <tr>
        <td>93</td>
        <td>Monaco</td>
    <tr>
        <td>94</td>
        <td> Nepal</td>
    </tr>
        <td>95</td>
        <td> Neuseeland</td>
    <tr>
        <td>96</td>
        <td>Nikaragua</td>
    </tr>
        <td>97</td>
        <td>Niederlande</td>
    <tr>
        <td>98</td>
        <td>Niger</td>
    </tr>
    <tr>
        <td>99</td>
        <td>Nigeria</td>
    </tr>
        <td>100</td>
        <td>Norwegen</td>
    </tr>
    <tr>
        <td>101</td>
        <td>Mongolei</td>
    </tr>
    <tr>
        <td>102</td>
        <td>Mosambik</td>
    </tr>
    <tr>
        <td>103</td>
        <td>Oman</td>
    </tr>
    <tr>
        <td>104</td>
        <td>Burkina Faso</td>
    </tr>
     <tr>
         <td>105</td>
         <td>sterreich</td>
    </tr>
    <tr>
        <td>106</td>
        <td>Pakistan</td>
    </tr>
    <tr>
        <td>107</td>
        <td>Panama</td>
    </tr>
    <tr>
        <td>108</td>
        <td>Paraguay</td>
    </tr>
    <tr>
        <td>109</td>
        <td>Peru</td>
    </tr>
    <tr>
        <td>110</td>
        <td>Philippinen</td>
    </tr>
    <tr>
        <td>111</td>
        <td>Polen</td>
    </tr>
    <tr>
        <td>112</td>
        <td>Portugal</td>
    </tr>
    <tr>
        <td>113</td>
        <td>Papua-Neuguinea</td>
    </tr>
    <tr>
        <td>114</td>
        <td>Namibia</td>
    </tr>
    <tr>
        <td>115</td>
        <td>Ruanda</td>
    </tr>
    <tr>
        <td>116</td>
        <td>Rumänien</td>
    </tr>
     <tr>
         <td>117</td>
         <td>ambia</td>
    </tr>
    <tr>
        <td>118</td>
        <td>Saudi-Arabien</td>
    </tr>
    <tr>
        <td>119</td>
        <td>Schweden</td>
    </tr>
    <tr>
        <td>120</td>
        <td>Schweiz</td>
    </tr>
    <tr>
        <td>121</td>
        <td>Senegal</td>
    </tr>
    <tr>
        <td>122</td>
         <td>Sierra Leone</td>
    </tr>
    <tr>
        <td>123</td>
         <td>Singapur</td>
    </tr>
    <tr>
        <td>124</td>
         <td>Simbabwe</td>
    </tr>
    <tr>
        <td>125</td>
         <td>Somalia</td>
    </tr>
    <tr>
        <td>126</td>
         <td>Spanien</td>
    </tr>
    <tr>
        <td>127</td>
         <td>Sri Lanka</td>
    </tr>
    <tr>
        <td>128</td>
         <td>Sudan</td>
    </tr>
    <tr>
        <td>129</td>
         <td>Südafrika</td>
    </tr>
    <tr>
        <td>130</td>
         <td>Syrien</td>
    </tr>
    <tr>
        <td>131</td>
         <td>Tansania</td>
    </tr>
    <tr>
        <td>132</td>
         <td>Thailand</td>
    </tr>
    <tr>
        <td>133</td>
         <td>Togo</td>
    </tr>
    <tr>
        <td>134</td>
         <td>Tonga</td>
    </tr>
    <tr>
        <td>135</td>
         <td>Tschechien</td>
    </tr>
    <tr>
        <td>136</td>
         <td>Tschad</td>
    </tr>
    <tr>
        <td>137</td>
         <td>Türkei</td>
    </tr>
    <tr>
        <td>138</td>
         <td>Tunesien</td>
    </tr>
    <tr>
        <td>139</td>
         <td>Uganda</td>
    </tr>
    <tr>
        <td>140</td>
         <td>Russland</td>
    </tr>
    <tr>
        <td>141</td>
         <td>Uruguay</td>
    </tr>
    <tr>
        <td>142</td>
         <td>Ungarn</td>
    </tr>
    <tr>
        <td>143</td>
         <td>Ukraine</td>
    </tr>
    <tr>
        <td>146</td>
         <td>Venezuela</td>
    </tr>
    <tr>
        <td>147</td>
         <td>Vietnam</td>
    </tr>
    <tr>
        <td>148</td>
         <td>Vereinigte Arabische Emirate</td>
    </tr>
    <tr>
        <td>151</td>
         <td>Demokratische Republik Kongo</td>
    </tr>
    <tr>
        <td>152</td>
         <td>Zentralafrikanische Republik</td>
    </tr>
    <tr>
        <td>153</td>
        <td>Zypern</td>
    </tr>
    <tr>
        <td>154</td>
        <td>Kroatien</td>
    </tr>
    <tr>
        <td>155</td>
        <td>Slowenien</td>
    </tr>
    <tr>
        <td>156</td>
        <td>Aserbaidschan</td>
    </tr>
    <tr>
        <td>157</td>
        <td>Slowakei</td>
    </tr>
    <tr>
        <td>158</td>
        <td>Kasachstan</td>
    </tr>
    <tr>
        <td>159</td>
        <td>Mazedonien</td>
    </tr>
    <tr>
        <td>160</td>
        <td>Usbekistan</td>
    </tr>
    <tr>
        <td>161</td>
        <td>Eritrea</td>
    </tr>
    <tr>
        <td>162</td>
        <td>Georgien</td>
    </tr>
    <tr>
        <td>163</td>
        <td>Tadschikistan</td>
    </tr>
    <tr>
        <td>164</td>
        <td>Bahrein</td>
    </tr>
    <tr>
        <td>165</td>
        <td>Kambodscha</td>
    </tr>
    <tr>
        <td>166</td>
        <td>Armenien</td>
    </tr>
    <tr>
        <td>167</td>
        <td>Kirgisien</td>
    </tr>
    <tr>
        <td>168</td>
        <td>Moldawien</td>
    </tr>
    <tr>
        <td>169</td>
        <td>Turkmenistan</td>
    </tr>
    <tr>
        <td>200</td>
        <td>Mauritius</td>
    </tr>
    <tr>
        <td>201</td>
        <td>Nordkorea</td>
    </tr>
</table>

</body>
</html>